RedirectPermanent /rp.html http://unsupported.msparp.com/chat/Retail-Sburb-RP
RiderectPermanent /ooc.html http://unsupported.msparp.com/chat/Retail-sburb-OOC
RiderectPermanent /memo.html http://unsupported.msparp.com/chat/Retail-Sburb